<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doppelkopf</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<main>
    <form class="player-input" th:action="@{/players}" method="post">
        <input class="name" type="text" id="player1" name="player1" placeholder="Spieler 1">
        <input class="name" type="text" id="player2" name="player2" placeholder="Spieler 2">
        <input class="name" type="text" id="player3" name="player3" placeholder="Spieler 3">
        <input class="name" type="text" id="player4" name="player4" placeholder="Spieler 4">
        <input class="name" type="text" id="player5" name="player5" placeholder="Spieler 5">
        <div>
            <input type="checkbox" id="fivePlayer" name="fivePlayer" onclick="checkbox(this)">
            <label class="checkbox-label">5. Spieler</label>
        </div>
        <input class="submit" type="submit">
    </form>
</main>

<script>
    let name = document.getElementById("name5");
    function checkbox(cb) {
        if (cb.checked) {
            name.style.visibility = "visible";
        } else {
            name.style.visibility = "collapse";
        }
    }
</script>

</body>
</html>